<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Обратная связь от <%= @feedback.name %></h1>
    <p>
      <%= @feedback.message %><br>
    </p>
  </body>
</html>
