<div class="row justify-content-center">
  <div class="col col-md-4">

    <h1 class="text-center">Редактировать награду</h1>

    <%= render 'form' %>

  <%= link_to 'Назад', admin_badges_path %>
  </div>
</div>
