<div class="row justify-content-center">
  <div class="col col-md-8">

    <h1 class="text-center">Награды</h1>

    <p>
      <%= link_to 'Новая награда', new_admin_badge_path %>
    </p>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-borderless">
      <tr>
        <th class="text-center">Название</th>
        <th class="text-center">Награда</th>
        <th class="text-center">Правило выдачи</th>
        <th class="text-center">Условие</th>
        <th class="text-center" colspan="3">Действие</th>
      </tr>

      <%= render @badges %>
    </table>
  </div>
</div>
