<div class="row justify-content-center">
  <div class="col col-md-8">
    <h1 class="text-center">Награды пользователя</h1>
      <%= render @user_badges %>
    <h1 class="text-center">Все награды</h1>
      <%= render @badges %>
  </div>
</div>


