<h1>Тест <%= @test_passage.test.title %> пройден</h1>

  <h3>Результат</h3>
  <% if @test_passage.successful_test? %>
  <p id="true">
    <strong>Тест пройден</strong><br>
    <%= @test_passage.result_percent  %>
  </p>
  <% else %>
  <p id="false">
    <strong>Тест не пройден</strong><br>
    <%= @test_passage.result_percent %>
  </p>
  <% end %>
  <p><%= link_to 'Edit to tests', root_path %></p>
